body {
    background-color: purple;
}
header {
    background-color: purple;
}

nav {
    background-color: purple;
    min-width: 100%;
}

nav ul li {
    display: inline-block;
    min-width:20%;
    text-align: center;
    box-shadow: inset 0 0 10px black;
}

nav ul a {
    color: gold;
    font-size: 18px;
    font-family: Arial;
    display: block;
    text-decoration: none; /*remove underline*/
}